# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# OS
.DS_Store
.flooignore
.idea
.vscode
*.swp
*.swo
*~

# Environment
.env
.env.*
!.env.example

# Testing
coverage

# Local development
.turbo
